
        <div class="midheading">
          <h2>Somelines about us</h2>
        </div>
        <div class="midtxt"><span class="midboldtxt">Nulla eget lacus ac duidictum ellentesque dapibus nibh ornare</span><br style="" />
          volutpat, diam leo vestibulum lectus, eu molestie elit est eu ipsum. Ut accumsan nisl eu velit. Morbi eros felis, ornare sed, vestibulum cursus, vehicula et, nisl. Etiam adipiscing. </div>
        <div id="comments">
          <div id="addcomments"><a href="#" class="addcomments">Add Commend</a></div>
          <div id="morecomments"><a href="#" class="morecomments">read more</a></div>
        </div>
        <div class="midheading">
          <h2>Latest Projects<span class="projectheading">Wednesday, May 07, 2008</span></h2>
        </div>
        <%= render(:partial => 'projectbg') %>
        <div class="midheading">
          <h2>Our main purpose</h2>
        </div>
        <div id="purposetxt">Donec posuere bibendum erat. Etiam commodo consectetuer tellus. Ut ut tellus eget nisl fermentum egestas. Ut consequat, </div>
        <div id="purposenav">
          <ul>
            <li><a href="#" class="purposenav">Conubia nostra per inceptos</a></li>
            <li><a href="#" class="purposenav">Etiam porta ullam sodales libe</a></li>
          </ul>
          <ul>
            <li><a href="#" class="purposenav">Lobortis ac mauris mauris</a></li>
            <li><a href="#" class="purposenav">Sed varius ante roin sed ped</a></li>
          </ul>
        </div>
        <div class="midtxt"><span class="midboldtxt">Morbi porta odio id erat. Curabitur ut massa uspendisse ipsum. In vitae dolor eget lorem</span> Suspendisse massa lacus, ullamcorper ac, pulvinar ut, aliquet et, elit. </div>
      
