
        <div id="leftheading">
          <h4>News &amp; Updates</h4>
        </div>
        <%= render(:partial => 'news-1') %>
        <%= render(:partial => 'news-2') %>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt">Qulvinar snterdum ...</div>
            <div class="lefttxt">By Jack Son  | 11:55 AM</div>
          </div>
          <div class="leftnormaltxt">Etiam auctor nisl adipiscing sem.  erat urna fringilla sit ametvestibulum.</div>
          <div class="morebutton"><a href="#" class="more">read more... </a></div>
        </div>
        <div id="leftnavheading">
          <h4>Resources</h4>
        </div>
        <div id="leftnav">
          <ul>
            <li><a href="#" class="leftnav">Mauris neque egestas justo </a></li>
            <li><a href="#" class="leftnav">Neque eros a nequestibulum </a></li>
            <li><a href="#" class="leftnav">Primis in faucibus orci luctus </a></li>
            <li><a href="#" class="leftnav">Posuere cubilia Curae </a></li>
            <li><a href="#" class="leftnav">Ulla risus risus sagittis in </a></li>
            <li><a href="#" class="leftnav">Lobortis sed tincidunt at est.</a></li>
            <li><a href="#" class="leftnav">Donec posuere egestas ipsum</a></li>
            <li><a href="#" class="leftnav">Cras ac magna vel justo </a></li>
            <li><a href="#" class="leftnav">Sollicitudin viverra. </a></li>
            <li><a href="#" class="leftnav">Nullam elementum nibh ut </a></li>
          </ul>
        </div>
      
