
        <div class="rightheading">
          <h4>Photo Gallery</h4>
        </div>
        <div id="galleryblank">
          <div id="rightpic"><a href="#" class="rightpic"></a></div>
          <%= render(:partial => 'rightpic02') %>
          <%= render(:partial => 'rightpic03') %>
          <div class="viewbutton"><a href="#" class="view"> view more</a></div>
          <div class="rightheading">
            <h4>Creative story</h4>
          </div>
          <%= render(:partial => 'story-1') %>
          <div class="righttxt"><span class="rightboldtxt">02.  Tempor nisi tellus </span><br style="" />
            Ndum nunc. Sed venenatis scelerisque ipsum.</div>
          <%= render(:partial => 'story-3') %>
          <div class="righttxt"><span class="rightboldtxt">04. Aliquet tempor nisi tellus </span>bibendum nunc. Sed venenatis</div>
          <div class="viewbuttonbot"><a href="#" class="view"> read more</a></div>
        </div>
      
